/* CSS styles for the grid layout */
.container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
}

@media (min-width: 576px) {
  .container2 {
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 20px;
  }
}

/* CSS styles for the hero section */
.hero2 {
  background-image: url("/img-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*text*/
.hero2 h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 10px;
}

.hero2 h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}

.hero2 h3 {
  font-size: 24px;
  color: #fff;
}

.hero-form2 label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.hero-form2 input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.control {
  margin-top: 14%;
}

.text-info {
  margin-top: 10%;
  text-align: center;
}

.container3 {
  border-radius: 10px;
  margin-top: 15vh;
}

#survey-form {
  border-radius: 10px;
  padding: 30px 35px;
  background-color: rgba(65, 93, 129, 0.63);
  max-width: 300px;
  box-shadow: 0 0 15px rgb(10, 15, 49);
  margin: auto;
  margin-bottom: 60px;
}

.form-group label {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
}

#name,
#email,
#number,
#dropdown,
#most-like,
#comments,
#submit {
  border: 0px;
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  box-shadow: 0 0 5px rgb(42, 60, 95);
  box-sizing: border-box;
}

@media screen and (max-width: 450px) {
  #survey-form {
    max-width: 80vw;
  }

  header i {
    margin-left: 3px;
    margin-right: 3px;
  }
}

/*button*/
.button1 {
  --bg: #47b2e4;
  --hover-bg: #fff;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  border-radius: 50px;
  margin-left: 50px;
}

.button1:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button1:active {
  transform: translate(0);
  box-shadow: none;
}




  .container4 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-items: center;
      align-items: center;
    }
    
    @media (min-width: 576px) {
      .container4 {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
      }
    }
    
    @media (min-width: 768px) {
      .container4 {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
      }
    }
    
    .card3 {
      background-color: #f3f4f6;
      padding: 2rem;
      background: #fff;
      max-width: 320px;
      border-radius: 10px;
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
      margin: 20px;
      
    }
    
    .header {
      display: flex;
      align-items: center;
      grid-gap: 1rem;
      gap: 1rem;
      justify-content: center; /* Añadido para centrar los elementos */
    }
    
    .header .image {
      width: 4rem;
      border-radius: 9999px;
      object-fit: cover;
      margin-left: 0; /* Cambiado el margen izquierdo a 0 */
      margin-right: 0.5rem; /* Añadido margen derecho para separar la imagen del texto */
    }
    
    .message,
    .message-2 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      margin-top: 1rem;
      color: rgba(107, 114, 128, 1);
      text-align: center; /* Cambiado el texto alineado al centro */
    }
    